In [3]:
import numpy as np

In [10]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [51]:
n = int(input("Enter an integer between 5 and 15: "))

if n < 5 or n > 15:
  print('Enter an integer between 5 and 15!!')
else: print()

Enter an integer between 5 and 15: 6

In [52]:
MyList = random_list(n)
print('The elements in the array are:', MyList)

The elements in the array are: [23, 49, 18, 31, 10, 44]

In [53]:
MySum = sum_random(MyList)
print('The sum is:', MySum)

The sum is: 175

In [54]:
MyList2 = np.random.randint(10,50,n)
MyList2

array([35, 21, 46, 35, 16, 46])

In [55]:
MySum2 = sum(MyList2)
MySum2

199